body {
  font-family: sans;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-nav a {
  color: white;
  font-size: 1.2em;
}

.navbar-nav a:hover {
  color: salmon!important;
}

section {
  padding-top: 80px;
  width: 100%;
}
.cv {
  margin-top:4%;
}

#home {
  height: 100vh;
  background: linear-gradient(
      rgba(2, 2, 2, 0.8), rgba(0, 0, 0, 0.6)),     url(https://scontent.fsnc1-1.fna.fbcdn.net/hphotos-xpt1/t31.0-8/12967327_1690172667902931_19559747441698755_o.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

.home__message {
  color: #eee;
  margin-left: 18%;
  padding-top: 5%;
}

.home__message span {
  margin: 10px;
  font-size: 1.1em;
}

.home__message a {
  color: inherit;
}
.home__message a:hover {
  color: salmon;
}

#about {
  background-color: #eee;
}

.about {
  padding-bottom: 50px;
}

.about__mystory p{
  font-size: 1.4em;
}

.about__photo {
  margin-top: 20px;
}

.about__photo img {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border: 10px double #FFFFFF;
  width: 100%;
}
.about__info {
  font-size: 1.2em;
}

#skills {
  color: white;
  position:relative;
  background-color: #484646;
}

#skill {
  display: none;
}

#contact {
      background-color: ghostwhite;
}

.bigger:hover {
  -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#education {
  // background: linear-gradient(
  //   rgba(255, 253, 252, 0.4), rgba(0, 0, 0, 0.4)),     url(https://i.ytimg.com/vi/Csm2wnfRMuA/maxresdefault.jpg);
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-attachment: fixed;
  // background-size: cover;
  color: white;
  background-color: #484646;
}

.ghst-btn {
  position: relative;
  display: inline-block;
  top: 35%;
  width: auto;
  height: auto;
  max-width: 20rem;
  min-height: 1rem;
  padding: 1rem 2rem 0.8rem 2rem;
  border: 2px solid rgba(255,255,255,1);
  background-color: rgba(255,255,255,0);
  background-image:
    radial-gradient(#333 0%, #333 70%, transparent 71%, transparent 100%),
    radial-gradient(#333 0%, #333 70%, transparent 71%, transparent 100%),
    radial-gradient(#333 0%, #333 70%, transparent 71%, transparent 100%);
  background-size: 0 0, 0 0, 0 0;
  background-repeat: no-repeat;
  background-position: 30% 50%, 70% 50%, 50% 80%;
  text-decoration: none;
  color: rgba(255,255,255,1);
  font-size: 1.7rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  border-radius: 0;
  transform: rotate(0);
  transition:
    border 2.5s 1s,
    color 2s 0.6s,
    max-width 0.05s 0.6s, 
    min-height 0.05s 0.6s, 
    background-color 0.4s,
    background-size 0s,
    transform 0.4s,
    border-radius 0.4s;
}

.ghst-btn:hover {
/*   max-width: 10rem;
  min-height: 10rem; */
/*   color: rgba(255,255,255,0); */
  border: 2px solid rgba(255,255,255,1);
  border-radius: 50%;
/*   background-color: rgba(255,255,255,0.1);
  background-size: 1.5rem 1.5rem, 1.5rem 1.5rem, 1.5rem 1rem; */
  transform: rotate(400grad);
  transition:
    border 0.1s,
    color 0.15s,
    max-width 0.25s, 
    min-height 0.25s, 
    background-color 0.25s,
    background-size 0.15s 0.45s,
    transform 0.4s,
/*     border-radius 0.25s 0.3s; */
}